/* font converted using font-converter.net. thank you! */
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "DIN-Regular";
  
    src: 
      url("./fonts/DINRegular.woff") format("woff"), /* Modern Browsers */
      url("./fonts/DINRegulart.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }






body {
    font-family:"DIN-Regular" ;
    background-color: #9ad8e8;
    margin: 0;
}


.button-visit {
    top:75%;
    display: flex;
    position: absolute;
    width: 350px;
    height: 105px;

    font-size: 60px;
    cursor: pointer;
    background-color: unset;
    border: 4.2px solid #515151 ;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}

a:hover{
    color:rgb(255, 238, 0);
    border: 4.2px solid rgb(255, 238, 0) ;
    

}


.intro-div {
    color :  #515151;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.intro-text {

    z-index:1;
    top:45%;
    font-size: 25px;
    position: absolute;
    width:60%;
    text-align: center;


}




.div-gauche {
    position: relative;
    height: 710px;
    width: 50%;
}



.div-droite {
    position: relative;
    height: 710px;
    width: 50%;

}

/*div gauche*/
.nuage1 {
    width: 1300px;
    position: absolute;
    top: 550px;
    left: -170px;

}

/*div gauche*/
.nuage2 {
    width: 800px;
    top: 100px;
    position: absolute;
    z-index: -5;
    left: 200px;
}

/*div droite*/
.nuage3 {
    width: 900px;
    position: absolute;
    top: 290px;
    z-index: -3;
    right: -30px;

}

/*div gauche*/
.nuage4 {
    width: 900px;
    position: absolute;
    top: 230px;

    z-index: -3;
    left: -40px;

}

/*div droite*/
.nuage5 {
    position: absolute;
    width: 800px;
    top: 360px;
    right: -60px;
    z-index: -3;

}

/*div droite*/
.nuage6 {
    width: 800px;
    position: absolute;
    top: 90px;
    left: -10px;
    z-index: -4;

}

/*div droite*/
.nuage7 {
    width: 880px;
    position: absolute;
    top: 500px;
    z-index: -1;
    left: -80px;

}

/* div droite*/
.nuage8 {
    width: 900px;
    position: absolute;
    top: 360px;
    right: 300px;
    z-index: -2;
}

/*div droite*/

.nuage9 {
    width: 1000px;
    position: absolute;
    top: -60px;
    right: -75px;
    z-index: -4;

}


/*div gauche*/
.nuage10 {
    width: 800px;
    position: absolute;
    top: 150px;
    left: -40px;
    z-index: -4;
}

/*div gauche*/
.nuage11 {
    width: 1000px;
    position: absolute;
    left: -70px;
    top: 370px;
    z-index: -3;

}
/* div gauche */
.nuage12 {
    
    width: 800px;
    position: absolute;
    top: 80px;
    left: -70px;
    z-index: -5;

}

/*div droite*/
.nuage13 {
    width: 800px;
    position: absolute;
    top: 200px;
    right: -35px;
    z-index: -4;


}

/*div droite*/
.nuage14 {
    width: 1000px;
    position: absolute;
    top: 600px;
    left: -200px;
}

/*div gauche bleu*/ /* tout en haut a gauce */
.nuage15 {
    width: 900px;
    top: -60px;
    left: -50px;
    position: absolute;
    z-index: -6;

}


.mouvRight{
    animation : mouvRightAnim 4s ease forwards;
}

.mouvLeft{
    animation : mouvLeftAnim 4s ease forwards;
}
.accueilEnd{
    animation: accueilAnim 4s ease forwards;
}

@keyframes mouvRightAnim {
    From {

        transform: translateX(0px);

    }

    To {

        transform: translateX(1000px);

    }
}

@keyframes mouvLeftAnim {
    From {


        transform: translateX(0px);

    }

    To {

        transform: translateX(-1000px);

    }
}

@keyframes accueilAnim {
    From {
        opacity: 100%;
    }
    To {
        opacity: 0%;
    }
}