@font-face {
  font-family: "DIN-Light";

  src:
    url("../fonts/DINLight.woff") format("woff"),

    url("../fonts/DINLight.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN-Medium";

  src:
    url("../fonts/DINMedium.woff") format("woff"),

    url("../fonts/DINMedium.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}


body {
  overflow: auto;
  font-family: "DIN-Light";
  background-color: #92d2f4;
  margin: 0;
}

.a-propos section {
  height: 100vh;
  position: relative;
}

.mmi section, .dev section, .com section, .design section, .audio section {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  position: fixed;
  top: 15px;
  left: 25px;
  width: 10vw;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  z-index: 3000;
}

a h1 {
  font-size: 1.5vw;
  color: #515151;
}

.objet {
  z-index: 4;
}

.building {
  position: relative;
  top: 4px;
}

.building h3 {
  text-align: center;
  color: #515151;
  opacity: 0;
  font-size: 1.5625vw;
}

.building:hover h3 {
  opacity: 1;
  transition: ease-in-out 0.3s;
}

.wifi {
  width: 3vw;
  position: absolute;
  top: 29vh;
  left: 55.5vw;
  display: none;

}

.mmi .sol, .dev .sol, .com .sol, .design .sol, .audio .sol {
  width: 100%;
  position: relative;
  z-index: 10;
}

/* ====================================== */

/* DEVELOPPEMENT */

.traits {
  width: 57vw;
  margin: 0 auto;
  position: relative;
  top: 14.5vh;
  left: 15.5vw;

}

.dev .arbre1 {
  width: 10vw;
  position: relative;
  left: 38vw;
  z-index: 3;
}

.dev .arbre2 {
  width: 10vw;
  position: relative;
  left: 59vw;
  z-index: 3;
}

.dev .page {
  display: flex;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 0;
  width: 80vw;

}

.position {
  width: 2vw;
  position: absolute;
  top: 34vh;
  left: 29vw;
  animation: float 3s ease infinite;
}

.wifi {
  width: 3vw;
  position: absolute;
  top: 29vh;
  left: 57.5vw;
}

.panneau {
  width: 12vw;
  position: relative;
  right: 3vw;
}

.robot {
  width: 10vw;
  position: relative;
  left: 7vw;
}

.drone {
  width: 8vw;
  position: relative;
  left: 33vw;
  top: -32vh;
  animation: float 3s ease infinite;
}

.dev .batiments {
  width: 58vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  left: -16vw;

}

.integrateur {
  width: 12vw;
  margin: 0 20px;

}

.webmaster {
  margin: 0 20px;
  width: 16vw;
}

.devweb {
  position: relative;
  left: 2vw;
  width: 12vw;
}

.reseau {
  position: relative;
  left: 2vw;
  width: 11vw;
}


.webmaster h3 {
  position: relative;
  top: 2.5vh;
  left: 2.5vw;
}

.devweb h3 {
  position: relative;
  left: -1vw;
}

.dev .sol1 {
  border-top: 10px #96cfe2 solid;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ========================================== */

/* DESIGN */

.design .page {
  display: flex;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 0;
  width: 80%;
  position: relative;
  top: 2px;
}

.design .arbre1,
.arbre2 {
  width: 5vw;
}

.design .arbre1 {
  position: absolute;
  left: 26vw;
}

.design .arbre2 {
  position: absolute;
  left: 51vw;
}

.design .batiments {
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

.graphiste, .da {
  width: 17vw;
}

.infographiste {
  width: 14vw;
  position: relative;
  z-index: 3;
}

.uxui {
  width: 11vw;
  position: relative;
  right: 2vw;
  z-index: 1;
}

.design .graphiste h3 {
  position: relative;
  top: 15vh;
  left: 1vw;
}

.design .infographiste h3 {
  position: relative;
  top: 10vh;
  right: 1.5vw;
}

.design .uxui h3 {
  position: relative;
  top: 3vh;
}

.design .da h3 {
  position: relative;
  top: 17vh;
  right: 0.5vw;

}

.design .sol1 {
  border-top: 10px #9ad5bf solid;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ========================================== */

/* AUDIOVISUEL CSS */

.audio .page {
  display: flex;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 0;
  width: 100%;
  position: relative;
  top: 2px;
  z-index: 1;

}

.audio .arbre1 {
  width: 4vw;
  position: absolute;
  left: 29vw;
  z-index: 9;
}

.audio .arbre2 {
  width: 5vw;
  position: absolute;
  left: 66vw;
}

.audio .batiments {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

.audio .building {
  margin: 0 10px;
}

.motion {
  width: 21vw;

}

.videaste {
  width: 22vw;
  position: relative;
  z-index: 6;
}

.sound {
  width: 14vw;
  position: relative;
  right: 2vw;
}

.vfx {
  width: 20vw;
}

.audio .motion h3 {
  position: relative;
  top: 4vh;
  left: 1vw;
}

.audio .videaste h3 {
  position: relative;
  top: 16vh;
  right: 1.5vw;
}

.audio .sound h3 {
  position: relative;
  top: 8vh;
}

.audio .vfx h3 {
  position: relative;
  top: 3vh;
}

.audio .sol1 {
  border-top: 10px #efc68f solid;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ========================================== */

/* COMMUNICATION CSS */
.com .page {
  display: flex;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 0;
  width: 100%;
  position: relative;
  top: 2px;
  z-index: 1;
}

.com .arbre2,
.arbre3 {
  width: 5vw;
}

.com .arbre1 {
  width: 7vw;
  position: absolute;
  left: 12vw;
}

.com .arbre2 {
  position: absolute;
  left: 29vw;
  z-index: 9;
}

.com .arbre3 {
  position: absolute;
  left: 80vw;
  z-index: 9;
}

.com .batiments {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}


.marketing {
  width: 11.5vw;
  position: relative;
  right: 1vw;

}

.data {
  width: 16vw;
  position: relative;
  z-index: 6;
}

.projet {
  width: 11.7vw;
  position: relative;
  right: 2.5vw;
}

.charge {
  width: 12vw;
}

.manager {
  width: 13vw;
}

.marketing h3 {
  position: relative;
  top: 2vh;
}

.data h3 {
  position: relative;
  top: 10vh;
  left: 0.5vw;
}

.projet h3 {
  position: relative;
  top: 3vh;
  left: 1vw;
}

.charge h3 {
  position: relative;
  top: 13vh;
  /* right: 1.5vw; */
}

.manager h3 {
  position: relative;
  top: 3vh;
  left: 1vw;
}

.com .sol1 {
  border-top: 10px #fcbdb6 solid;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ========================================== */

/*MMI CSS*/

.arbre-gauche {
  width: 7vw;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 21.239583333333334vw;
}

.arbre-droite {
  position: absolute;
  width: 6vw;
  z-index: 1;
  top: 50%;
  right: 24.0625vw;
}



.mmi-batiment {
  margin: auto;
  position: relative;
  padding: 0 auto;
  top: 0.5vh;
  width: 55.208333333333336vw;

}

.mmi .sol1 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ========================================== */


/*A PROPOS*/

.a-propos .page{
  width: 100%;
  height: 100vh;
}

.statue{
  position:relative;
  width:26vw;
  left:53.59375vw;
  top: 4px;
}

/* === PARTIE 1 */
.partie1 .floor{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
}

.a-propos .partie1 .contenu{
  position: relative;
  right: 20vw;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-div1{
width: 39.927083333333332vw;
height: 25.27107790821771vh;
}

.text-apropos1{
font-family: "DIN-Medium";
color: #515151;
font-size: 2.6vh;
width: 36.34375vw;
height:  44.942369263607254vh;
margin: 0;
background-color: #ACE2DD;
border-radius: 60px;
position: relative;
bottom: 51vh;
left: 2vw;

}
.p-apropos1{
padding: 20px 33px 0px 33px;
margin: 0px;

line-height: 5vh;
text-align: left;

}

.contacts{
  color: #515151;
  position: relative;
  left: 13vw;
  margin: 0px;
  padding: 0px;
}

.p-contact{
  position: relative;
  top :6vh;
  margin: 0px; 
}

/* === PARTIE 2 */
.partie2 .floor{
  position: absolute;
  bottom:-100vh;
  left: 0;
  width: 100%;
}


.border-div2{
  width: 27.2125vw;
  height: 16vh;
  position: relative;
  left:15vw;
  top: 5vh;
}

/*FORMULAIRE*/


.main-form  {
  padding: 30px;
  height: 60vh;
  width: 20vw;
  border-radius: 50px;
  background-color:  #ACE2DD;

  position: relative;
  left:16vw;
  top: -8.5vh;
}

.h1-msg{
  text-align:center;

}

.a-propos div h1{
  font-family: 'DIN-Medium';
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  color: #515151;

}

form .form1{
  
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 55vh;

}



input {

  font-size: 2vh;
  font-family: "DIN-Medium";
 
  padding: 0px;


}

input[type=text]{
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  height: 8vh;
  border: none;
  outline-style: unset;

}
input[type=email]{
  margin: 10px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 30px;
  padding-bottom: 0px;
  height: 8vh;
  border: none;
  outline-style: unset;

}

textarea{
  margin: 10px;
  margin: 15px;
  padding: 20px;
  font-size: 2vh;
  font-family: "DIN-Medium";
  height:25vh;
  resize: none;
  outline-style: unset;
  border-radius: 25px;
  border: none;
 
}

::placeholder{
  color: rgba(107, 107, 107, 0.664);

}

input[type=submit]{
  margin: 10px;
  margin-bottom: 0px;
  outline-style: unset;
  height: 8vh;
  background-color: transparent;
  border-radius: 30px;
  border-style:unset;
  border: #707070 solid 3px;
  cursor: pointer;
  color: #707070;
  
}

/* === PARTIE 3 */
.partie3 .floor{
  position: absolute;
  bottom:-200vh;
  left: 0;
  width: 100%;
}

.profils{
  color: #515151;
  position: relative;
  left: 8vw;
  margin: 0 auto;
}

.border-div3 svg{
  width: 45vw;
  position: relative;
  top: 10vh;
  
}

.text-apropos2 {
  font-family: "DIN-Medium";
  color: #515151;
  font-size: 2.5613660618996796vh;
  background-color: #ACE2DD;
  
  border-radius: 50px;
  width:  43.020833333333336vw;
  height: 15.328708644610458vh;

  position: relative;
  top: 16.5vh;
  right: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;
}


.text-apropos2 p{
  padding-left: 15px;
}

 /*====figurine*/


.figurines{
  display: inline-block;
  width: 30vw;
}

.figurines img{
  width: 10vw;
}
/*==========================================================*/



/* POP-UP */
.popup {
  display: none;
}

.open {
  cursor: pointer;
}

.popup-open {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.background {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info {
  margin: auto;
  position: relative;
  top: 2vh;
  border: 2px white solid;
  opacity: 0.9;
  width: 35vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 2000;
}

    /* COULEURS POPUP */
.dev .info{
  background-color: #96CFE2;
}
.design .info{
  background-color: #9AD5BF;
}

.audio .info{
  background-color: #EFC68F;
}
.com .info{
  background-color: #FCBDB6;
}

.mmi .info{
  background-color: #D0C3E5;
}

.info h3 {
  text-align: center;
  margin: 20px;
  font-size:  2vw;
  text-transform: uppercase;
  color: #515151;
}

.info .text{
  width: 90%;
  margin: 10px auto;
  overflow: auto;
}
.info p {
  margin:10px 10px;
  font-size:  1.2vw;
  font-weight: normal;
}
th {
  width: 45%;
}
.null {
  display: block;
  width: 150px;
}
.info table{
  border: 1.5px white solid;
  width: 90%;
  margin: 15px auto;
  border-spacing: 0;
}
th{
  border-bottom: 1.5px white solid;
}
th:first-child{
  border-right: 1.5px white solid;
}
td:first-child{
  border-right: 1.5px white solid;
}
li{
  list-style: none;
  position: relative;
  right: 30px;
}

.mmi .popup li::before{
  content: '- ';
}
.mmi .popup h4{
  margin-bottom: auto;
}

.formation{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.contenu{
  display: flex;
  justify-content: space-around;
}
.vertical{
  align-self: center;
  border-top: 1.5px white solid;
  width: 70%;
  position: relative;
  top: -2vh;
}

.salaire{
  align-self:flex-end;
}
.circle{
  background-color: white;
  border-radius: 50%;
  width: 2vw;
 height: 2vw;
 opacity: 1;
}


.close {
  width: 3vw;
  font-size: 2rem;
  color: #515151;
  border: none;
  outline: none;
  background: none;
  position: absolute;
  top: 2vh;
  right: 1vw;
  cursor: pointer;
}


/* ========================================== */


.cloudMouv {
  animation: cloudAnim 3s ease infinite;
}

.bat2Mouv {
  animation: bat2Anim 1s ease infinite;
}

.armMouv {
  animation: armAnim 3s ease infinite;
}

.handMouv {
  animation: handAnim 3s ease infinite;
}

/* ANIMATION */

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-5px);
    transform: translatey(-5px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    -webkit-transform: translatey(-5px);
    transform: translatey(-5px);
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes cloudAnim {

  0%,
  100% {
    d: path("M139.24,129.67c9-56,28.83-75.86,45.56-83.47,24.72-11.25,41.78,4.66,76.31-8.91,31.57-12.4,32.33-31.62,58.08-35.61C346.81-2.61,380.57,14.13,383,32.84c2.69,20.93-33.87,44.23-64.92,52.31-37.13,9.67-53.57-5.76-91.11-1.11C204.93,86.77,174.11,96.59,139.24,129.67Z");
  }

  20% {
    d: path("M139.24,125.69C155.15,82.46,176.6,65,193.38,57c25.7-12.19,37.41-.56,69-14,38.44-16.36,42.74-42.76,68-42,19.13.57,39,16.44,41,33,2.85,23.9-33.39,44.84-54,53-32.54,12.87-49.75,3.06-90,8C206.52,97.57,175.75,104.54,139.24,125.69Z")
  }

  40% {
    d: path("M139.24,137.9c16.8-32.82,36.9-49.22,55.14-57.68,31.83-14.76,50-1.65,76-19,32.21-21.45,27.46-56.81,49-60,18.07-2.67,41.46,19.25,44,42,3.72,33.33-38.61,56.62-45,60-30.15,15.94-51.12,6.88-99,13A306.22,306.22,0,0,0,139.24,137.9Z");
  }

  60% {
    d: path("M139.24,128.67c7.51-44.41,24.54-63.51,39.14-72.67,20.64-13,34.3-4.69,68-21,29.06-14.06,28.62-24.91,51-31,28.51-7.76,64.9.12,70,17,4,13.23-11.62,30.65-24,40-40.73,30.77-82.89,1.72-141,23C185.8,90.07,162.84,102.1,139.24,128.67Z");
  }

  70% {
    d: path("M139.24,156.15c10.55-38.49,28.09-58,42.14-68.68,22.37-17,36.88-12.45,60-34,21.73-20.25,18.51-33.23,38-44,20.19-11.15,50.55-12.09,60,2,7.89,11.77,0,32.24-9,45-24.76,35-67.26,24.56-126,53A241.22,241.22,0,0,0,139.24,156.15Z");
  }
}

@keyframes bat2Anim {

  0%,
  100% {
    d: path("M17.29,76.9a41.4,41.4,0,0,1,58.37-47C87.32,10.92,107.77-.24,128.8,1.11,152.12,2.6,166.22,18.84,168.87,22a45.26,45.26,0,0,1,61.85,52.27");
  }

  50% {
    d: path("M17.29,65.89C17.22,64.71,16.35,43.21,34,31a39.72,39.72,0,0,1,43-1,50.62,50.62,0,0,1,90-3c15.71-11.38,36.41-11.08,50,0,16.2,13.2,13.9,34.86,13.72,36.27");
  }
}

@keyframes armAnim {

  0%,
  100% {
    d: path("M67.9,57.86c3,4.81,6.87,11.47,11,19.76,7.63,15.31,9.59,22.48,11.89,22.27s4.9-7.65,5.79-42.42");
  }

  50% {
    d: path("M67.9,57.86c3,4.81,6.87,11.47,11,19.76,7.62,15.29,10.37,22.62,11.89,22.27S92.72,92,87.73,58.57");
  }
}

@keyframes handAnim {

  0%,
  100% {
    d: path("M89.55,43.61c-1.34,7.45,2.11,14.15,6,14.73s8.49-5.08,8.35-12.82");
  }

  50% {
    d: path("M77.64,47.55c.65,7.54,5.73,13.11,9.64,12.65S94.15,53.08,92,45.65");
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: white;
}